

.contact {
    background: #F3F3F3;
    padding: 0px 195px 128px 195px;
    margin-top: 80px;


}
.contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px ;
    padding-block: 80px;
}
.contact-text h2 {
    color: var(--text-color, #252B42);

/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.contact-text p {
    text-align: center;
    width: 450px;
    color: var(--second-text-color, #737373);

/* paragraph */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}
.contact-card {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.contact-card1 {
    width: 328px;
    height: 333px;
    display: flex;
width: 328px;
padding: 50px 40px;
flex-direction: column;
align-items: center;
gap: 15px;
background: #FFF;
}
.contact-card2 {
    width: 328px;
    height: 333px;
    display: flex;
width: 328px;
padding: 50px 40px;
flex-direction: column;
align-items: center;
gap: 15px;
background: #FFF;
}
.contact-card3 {
    width: 328px;
    height: 333px;
    display: flex;
width: 328px;
padding: 50px 40px;
flex-direction: column;
align-items: center;
gap: 15px;
background: #FFF;
}
.contact-card h6 {
    color: var(--text-color, #252B42);
    text-align: center;
    
    /* h6 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}
.contact-card button {
    background-color: #FFF;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
border: 1px solid var(--primary-color, #FFA62B);
color: var(--primary-color, #FFA62B);
text-align: center;

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.contact-card button:hover {
    color: #FFF;
    background-color: #FFA62B;
    transition: 0.5s;
    cursor: pointer;
}
@media  screen and (max-width:420px) {
    .contact-card {
        display: flex;
        flex-direction: column;
        margin-left: -150px;
    }
    .contact-text p {
        width: 300px;
    }
    .contact-text h2 {
        font-size: 26px;
        width: 300px;
        padding-left: 50px;
    }
}


